@media(max-width: 320px){
    header{
        justify-items: start;
        width: 100%;
        .navbar{
            display: flex;
            justify-content:start;
            align-items: start;
            gap: 1.25rem;
            list-style: none;  
            margin: 0%;  
            font-size: 10px;       
            .dim-logo{
                width: 60px;
                height: 80px;
            }
            li{
                a{
                    display: flex;
                    align-items: center;    
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    
    .main-index{
        .section-principal{
            justify-items: start;
            width: 320px;
            height: 30rem;
            background-size: 100% 100%;
            h1{
                transform: translate(15px);
                width: 280px;
                height: 460px;
                font-size: 120%;
            }
        }
    }

    .main-productos{
        height: 1700px;
        .conteiner-all{
            padding-left: 25px;
            display: grid;
            justify-content: left;
            grid-template-columns: 50px;
            grid-template-rows: 90px 90px 90px 90px;
            text-align: center;
            gap: 100%;
            .conteiner-prod{
                display: flex;
                flex-direction: column;
                width: 250px;
                height: 400px;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .galeria{
        width: 80%;
        height: 70%;
        transform: translateY(1000px) translate(35px);
        img{
            width: 40%;
            height: 50%;
            transform: translate(80px);
        }
    }

    .comprar-acc{
        width: 500%;
        height: 350px;
        transform:  translateY(5px ) translate(2px);
        box-shadow: 1px 1px 5px rgb(65, 64, 64);
    }


    .main-nosotros{
        width: 100%;
        height: 100%;
        .nosotros{
            display: flex;
            flex-direction: column;
            .div-img{
                padding-top: 5%;
                width: 80%;
                height: 40%;

            }
            .nosotros-info{
                h2{
                    width: 10%;
                    padding-top: 0px;
                }
                p{
                    font-size: 60%;
                    width: 100%;
                }
            }
        }
    }


    .main-suc{
        height: 2200px;
        width: 100%;
        h1{
            font-size: 40px;
            width: 140px;
            transform: translate(75px) translateY(10px);
        }
        p{
            width: 80%;
            transform: translate(40px) translateY(14px);
            font-size: 20px;
        }
        .conteiner-all{
            padding-left: 25px;
            display: grid;
            justify-content: left;
            grid-template-columns: 40px;
            grid-template-rows: 90px 90px 90px 90px;
            text-align: center;
            gap: 100%;
            .conteiner-prod{
                display: flex;
                flex-direction: column;
                width: 250px;
                height: 400px;
                justify-content: center;
                text-align: center;
                div{
                    img{
                        transform: translate(-20px) translateY(10px);
                        width: 400%;
                        height: 80%;
                    }
                    h2{
                        width: 200px;
                        transform: translate(10px);
                    }
                    p{
                        width: 150px;
                        transform: translate(38px);
                    }
                }
            }
            .conteiner-prod-rigth{
                display: flex;
                flex-direction: column;
                width: 250px;
                height: 400px;
                justify-content: center;
                text-align: center;
                transform: translate(0px);
                div{
                    h2{
                        transform: translate(10px);
                    }
                    p{
                        width: 150px;
                        transform: translate(28px);
                    }
            }
        }          
    }
}


    footer{
        width: 100%;
        height: 55px;
        font-family: "Quicksand", sans-serif;
        padding: 3%;
        a{
            text-decoration: none;
            font-size: 14px;
            color: #000;   
            margin-top: 2%;  
            transform: translate(10px);
        }
        .icon{
            transform: translate(90px);
            .tam-ig{
                width: 15px;
            }
            .tam-gral{
                width: 17px;
            }
        }
    }
}