@media(max-width: 768px){
    header{
        padding: 0.3rem 0.1rem;
        .navbar{
            justify-content: start;
            gap: 1.25rem;
            padding: 1%;
        }
    }

    .main-index{
        .section-principal{
            width: 100%;
            height: 60rem;
            background-image: url("../assets/img/fondo.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 768px 135%;
            font-family: "Quicksand", sans-serif;
            h1{
                font-family: "Quicksand", sans-serif;
                @include flex(center, center,center, row, 5%);
                height: 1000px;
                width: 500px;
                color: #ffffff;
                filter:drop-shadow(0 0 10px #000);
                font-size: 200%;
            }
            .conteiner-all{
                @include grid(left, 100px 100px, 150px 150px 150px 150px, center, 20%);
                gap: 20%;
            }
            .conteiner-prod{
                @include flex(center, center, center, column, 0%);
                width: 200px;
                height: 250px;
                div{
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    width: 100%;
                    height: 50%;
                    img{
                        margin-right: 100%;
                        width: 100%;
                        height: 110%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .footer{
        display: flex;
        background-color: #000;
        width: 100%;
        height: 65px;
        font-family: "Quicksand", sans-serif;
        justify-content: start;
        a{
            text-decoration: none;
            color: #000;   
            align-items: center;
            margin: 2%;
            margin-top: 1.5%;  
        }
    }
}
