footer{
    display: flex;
    background-color: $color-footer;
    width: 100%;
    font-family: $fuente;
    a{
        text-decoration: none;
        transform: translate(50px);
        color: #000;   
        margin-top: 2%;
    }
    .icon{
        display: flex;
        transform: translate(1000px);
        padding: 2%;
        .tam-gral{
            width: 28px;
        }
        .tam-ig{
            width: 25px;
        }
    }
}
