.main-productos{
    background-color:$color-principal;
    height: 100%;
    width: 100%;
    font-family: $fuente;
    .conteiner-all{
        width: 70%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        .conteiner-prod{
            display: flex;
            width: 100%;
            height: 150px;
            text-align: left;
            box-shadow: 1px 1px 5px rgb(65, 64, 64);
            border-radius: 10px;
            h2{
                width: 200%;
            }
            div{
                width: 30%;
                height: 90%;
                padding-left: 1%;
                img{
                    width: 70%;
                    height: 110%;
                    object-fit: contain;
                }
            }
        }
    }
}

.comprar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    height: 300px;
    text-align: center;
    box-shadow: 3px 3px 7px rgb(65, 64, 64);
    border-radius: 10px;
    transform:  translateY(-750px ) translate(1100px);

    div{
        width: 30%;
        height: 90%;
        padding-left: 1%;
    }
}

.comprar-acc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 300px;
    text-align: center;
    box-shadow: 3px 3px 7px rgb(65, 64, 64);
    border-radius: 10px;
    transform:  translateY(-400px ) translate(1100px);
    font-size: 20px;
    div{
        width: 20%;
        height: 70%;
        padding-left: 1%;
    }
}

.galeria{
    width: 80%;
    height: 90%;
    transform: translateY(-270px) translate(150px);
    img{
        width: 20%;
        height: 30%;
        transform: translate(460px);
    }
}