.main-nosotros{
    background-color: $color-principal;
    height: 600px;
    width: 100%;
    font-family: $fuente;
    .nosotros{
        width: 100%;
        height: 570px ;
        display: flex;
        align-items: center;
        div{
            img{
                width: 100%;
                height: 100%;
                border-radius: 100rem;
            }
        }
        .nosotros-info{
            margin: 3%;
            width: 50%;
            height: 80%;
        }
    }
  
}